.colorPreview {
  height: 8rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  background: linear-gradient(135deg, #77010F 0%, #77010F 100%);
}

.colorPreview[data-primary-color] {
  background: linear-gradient(
    135deg,
    var(--roster-primary, #77010F) 0%,
    var(--roster-secondary, #77010F) 100%
  );
}
