.rosterHeader {
  height: 8rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: linear-gradient(135deg, #77010F 0%, #77010F 100%);
}

.rosterHeader[data-primary-color] {
  background: linear-gradient(
    135deg,
    var(--roster-primary, #77010F) 0%,
    var(--roster-secondary, #77010F) 100%
  );
}
